name: publish

on: 
  push: 
    branches: [ "luac-actions" ]
  pull_request:
    branches: [ "master", "luac-actions" ]

jobs:
  windows-x64-luac:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v2
      
      - name: Insatll MSVC
        uses: microsoft/setup-msbuild@v1.0.2
      
      - name: Build
        run: |
          cd build\luac
          .\make_win64.bat

      - name: Compile with built luac
        run: |
          cd build/luac/build64/Release
          ./luac -o xlua_test_win64.luac ../../xlua_test.lua

      - name: Compile with std luac
        run: |
          cd build/luac/build64/Release
          ./../../luac_std.exe -o xlua_test_std.luac ../../xlua_test.lua
      
      - name: Upload luac executable
        uses: actions/upload-artifact@v2
        with:
          path: ./build/luac/build64/Release
          name: luac_win64_rel
          retention-days: 1